In [29]:
from connec_functions import generate_sparql, execute_to_df

## Analysis of the EurOBIS special collection

In [34]:
spcol_datasets = execute_to_df("spcol_datasets.sparql")
spcol_datasets

,identifier,name,dataset
0,http://dev.marineinfo.org/id/collection/619,EurOBIS,http://dev.marineinfo.org/id/dataset/4679
1,http://dev.marineinfo.org/id/collection/619,EurOBIS,http://dev.marineinfo.org/id/dataset/2703
2,http://dev.marineinfo.org/id/collection/619,EurOBIS,http://dev.marineinfo.org/id/dataset/6574
3,http://dev.marineinfo.org/id/collection/619,EurOBIS,http://dev.marineinfo.org/id/dataset/1646
4,http://dev.marineinfo.org/id/collection/619,EurOBIS,http://dev.marineinfo.org/id/dataset/5433
...,...,...,...
3667,http://dev.marineinfo.org/id/collection/629,EurOBIS map,http://dev.marineinfo.org/id/dataset/4605
3668,http://dev.marineinfo.org/id/collection/629,EurOBIS map,http://dev.marineinfo.org/id/dataset/4606
3669,http://dev.marineinfo.org/id/collection/629,EurOBIS map,http://dev.marineinfo.org/id/dataset/6549
3670,http://dev.marineinfo.org/id/collection/629,EurOBIS map,http://dev.marineinfo.org/id/dataset/4607
3671,http://dev.marineinfo.org/id/collection/880,OBIS-cited publications,http://dev.marineinfo.org/id/dataset/4047

In [35]:
spcol_datasets.describe()

,identifier,name,dataset
count,3672,3672,3672
unique,4,4,2948
top,http://dev.marineinfo.org/id/collection/730,OBIS,http://dev.marineinfo.org/id/dataset/4606
freq,2301,2301,3

In [40]:
spcol_datasets.groupby('name').nunique().drop(['identifier'], axis=1)

                         dataset
name
EurOBIS                     1366
EurOBIS map                    4
OBIS                        2301
OBIS-cited publications        1